* {
  background-color: whitesmoke;
  /* font-family: 'Nanum Myeongjo', serif; */
  /* font-family: 'Barrio', cursive; */
  font-family: 'Unbounded';
}

#container {
  position: relative;
  min-height: 100vh;
}

.dropdown {
  margin-bottom: 5%;
  background: none;
}

.menu {
  background: none;
}

#triangle {
  border-left: 15px dashed transparent;
  border-right: 15px solid transparent;
  border-bottom: 33px dashed black;
  border-top-style: none;
}

.menu > li {
  background: none;
  float: left;
  text-align: left;
}

.menu > li > button {
  background: none;
  border-style: none;
}

.menu > li > button > a {
  background: none;
  color: black;
  padding: 2em;
}

#projects-images {
  display: block;
  position: relative;
}

#projects-lisa {
  margin-top: 5em;
}

#lisa {
  position: absolute;
  top: 1em;
  left: 1em;
  background: none;
}

#lisa h2 {
  color: whitesmoke;
  background: none;
}

#lisa p {
  color: whitesmoke;
  background: none;
}

#matcha {
  position: absolute;
  top: 11em;
  left: 1em;
  background: none;
}

#matcha h2 {
  background: none;
}

#matcha p {
  background: none;
}

#room {
  position: absolute;
  top: 21em;
  left: 1em;
  background: none;
  color: whitesmoke;
}

#room h2 {
  background: none;
}

#room p {
  background: none;
}

.image-project {
  /* padding: 2em; */
  width: 100%;
  height: 10em;
  object-fit: cover;
}

li {
  list-style: none;
}

.home-paragraph {
  text-align: center;
  margin: 10em;
}

.home-paragraph:hover {
  font-weight: 1000;
}

#about {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

#about p {
  text-align: justify;
  margin-left: 10em;
  margin-right: 10em;
}

#about .top {
  margin-top: 10em;
}

@media (max-width: 450px) {
  #about {
    font-size: 0.5em;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 0.7em;
}
